.filter {
  border-radius: 12px;
  border: 1px solid var(--mantine-color-black-4);
  background-color: var(--mantine-color-white-0);

  &Title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--mantine-color-black-0);
  }

  &ResetBtn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--mantine-color-black-2);
  }

  &Text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--mantine-color-black-0);
  }

  &PriceInput {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--mantine-color-black-0);
    border-radius: 12px;
    border: 1px solid var(--mantine-color-black-4);

    &:hover,
    &:focus {
      border: 1px solid var(--mantine-color-blue-1);
      caret-color: var(--mantine-color-blue-1);
    }

    &LeftSectionText {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--mantine-color-black-2);
    }
  }
}
