.dropzoneRoot {
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}

.browseButton {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.error {
  border: 1px dashed var(--mantine-color-red-5);
}

.addIcon {
  color: var(--mantine-primary-color-filled);
  transition: all 200ms ease-in-out;
}

.text {
  width: 144px;
  line-height: 24px;
  color: var(--mantine-color-gray-6);
  word-wrap: break-word;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.errorMessage {
  margin-top: 4px;
  font-size: 14px;
  line-height: 17px;
  color: var(--mantine-color-red-5);
}

.uploadBtn {
  background-color: var(--mantine-color-blue-6);
}
